
@{
    ViewBag.Title = "APropos";
}

<h2>A Propos</h2>
<br />
<br />
<b>Description</b>
<br />
<p>Voici le site web regroupant toutes les connaissances que nous avons accumulés durant notre cours de programmation coté serveur.</p>
<br />
<br />
<b>Difficultés rencontrés</b>
<p>Aucune difficulté, on est trop fort</p>
<br />
<br />
<b>Acteurs</b>
<br />
<table border="1">
    <tr>
        <td>
            <b>Noms</b>
        </td>
        <td>
            <b>Role</b>
        </td>
        <td>
            <b>Contacts</b>
        </td>
    </tr>
    <tr>
        <td>
            Emile Datrier
        </td>
        <td>
            Page tut tut
        </td>
        <td>
            Telephone
            06060606
        </td>
    </tr>
    <tr>
        <td>
            Mathis Lecoeuvre
        </td>
        <td>
            Page d'accueil
        </td>
        <td>
            Telephone
            0606060606
        </td>
    </tr>
</table>

